{% extends "base.html" %}

{% block extra_head %}

{% endblock %}



{% block content %}



{% if messages %}
<ul style="list-style-type:none">
    {% for message in messages %}
        <li style="text-decoration:none">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label>title:</label><br>
    <input type="text" name="title"><br><br>
    <label>description:</label><br>
    <input type="text" name="description"><br><br>
    <label>price:</label><br>
    <input type="number" name="price"><br><br>
    <label>Contact number:</label><br>
    <input type="tel" name="phoneNum"><br><br>
    <label>Contact email:</label><br>
    <input type="email" name="email"><br><br>
    <label>image:</label><br>
    <input type="file" name="image"><br><br>
    <button type="submit">Create</button>
</form>


{% endblock %}